*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html, body{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}
html{
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}
.hide{
    display: none;
}
.box-shadow{
    --box-shadow-datta : 0px 0px 50px -2px rgba(0,0,0,0.08);
    -webkit-box-shadow: var(--box-shadow-datta) ; 
    box-shadow: var(--box-shadow-datta) ;
}
.bg-deal{
    background-image: url('../assets/img/deal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-one{
    background-image: url('../assets/img/mockup-bg-1.jpg');
    background-repeat: no-repeat;
    background-position-x: -250px;
    background-size: cover;
     --transformInfo: scaleX(-1);
    transform: var(--transformInfo);
    -o-transform: var(--transformInfo);
    -ms-transform: var(--transformInfo);
}
.bg-two{
    background-image: url('../assets/img/mockup-bg-2.jpg');
    background-repeat: no-repeat;
    /* background-position-x: -400px; */
    background-position: center;
    background-size: cover;
    --transformInfo: scaleX(-1);
    transform: var(--transformInfo);
    -o-transform: var(--transformInfo);
    -ms-transform: var(--transformInfo);
}
.bg-three{
    background-image: url('../assets/img/mockup-bg-3.png');
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-size: cover;
}
.w33{
    float: left;
    width: 33.3%;
}
.w50{
    float: left;
    width: 50%;
}
.w100{
    float: none;
    width: 100%;
}