:root{
    /* ------- geral -- */
    --font-size: 20px;
    --myPurple: #8f4ffb;
    --myLightGray: #f0f1f3;
    --myGreen: #00cf89;
    --myBlueOil: #344451;
    --myBlueOilDark: #212a33;
    /* ------- cores das border-top dos itens em 'afiliado' --- */
    --oone:  #ac2fff;
    --ttwo:  #04d700;
    --tthree:#f70f58;
    --ffour: #03c8ad;
    --ffive: #03a3fb;
    --ssix:  #fc33db;
    --sseven:#04ea7d;
    --eeight:#79d903;
}
.greenButton{
    border:none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    height: 60px;
    width: 430px;
    font-size: 18px;
    text-align: center;
    align-content: center;
    background-color: var(--myGreen);
    cursor: pointer;
    transition: .08s;
}
.greenButton:hover{
    /* --transform-data: scale(1.01);
    -webkit-transform: var(--transform-data);
         -o-transform: var(--transform-data);
            transform: var(--transform-data); */
    --filter-data: drop-shadow(1px 1px 1px #000000a1);
    -webkit-filter: var(--filter-data);
        -moz-filter:var(--filter-data);
            filter: var(--filter-data);
}
.joinButton{
    background-color: white;
    border-radius: 8px;
    border: 2px solid var(--myPurple);
    color: var(--myPurple);
    width: 180px;
    height: 44px;
    line-height: 40px;
    align-content: center;
    text-align: center;
    font-size: var(--headerFontSize);
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}

.em-andamento-tooltip{
    pointer-events: none; 
    z-index: 999;
            user-select: none; /* Standard syntax */;
        -ms-user-select: none; /* IE 10 and IE 11 */
       -moz-user-select: none; /* IE 10 and IE 11 */
    -webkit-user-select: none; /* Safari */
    display: none;
    position: absolute;
    width: 90px;
    height: 20px;
    font-size: 11px;
    border-radius: 10px;
    line-height: 20px;
    color: black;
    text-align: center;
}
header{
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 90px;
    max-width: 1850px;
    align-items: center;
    padding: 0 2%;
    margin: 0 auto;
}
header > img.header-logo{
    flex-shrink: 0;
    width: 135px;
}
header > .nav-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    flex-shrink: 0;
    width: auto;
}
header > .nav-container nav ul{
    height: 100%;
}
header > .nav-container nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 8px;
}
header > .nav-container nav ul li a{
    font-size: var(--headerFontSize);
    color: var(--myBlueOil);
    text-decoration: none;
}
section.home{
    height: 745px;
    background-color: white;
}
section.home > .home-content{
    padding-top: 30px;
    margin: 0 auto;
    width: 31%;
    display: flex row;
    text-align: center;
}
section.home > .home-content  h2{
    font-weight: 400;
    font-size: 36px;
    color: var(--myBlueOil);
}
section.home > .home-content p{
    font-weight: 400;
    color: var(--myBlueOil);
    padding: 0 15px;
    margin: 0 auto;
    width: 95%;
    font-size: 17px;
}
section.home input{
    display: block;
    margin: 0 auto; 
}
section.differs{
    height: 940px;
    position: relative;
    background-color: var(--myPurple);
}
section.differs > iframe.vid-big{
    display: block;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, -33.3%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs > iframe.vid-med{
    display: none;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, -10%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs > iframe.vid-small{
    display: none;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, -33.3%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs .differs-blank{
    height: 480px;
}
section.differs > h2{
    text-align: center;
    color:white;
    font-weight: 400;
    margin-bottom: 40px;
}
section.differs > div.diff-items{
    margin: 0 auto;
    width: 80vw;
    min-width: 81.5%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: start;
    justify-content: space-between
}
section.differs > div.diff-items > div.item-single{
    display: inline-flex;
    align-items: center;
    width: 25%;
    height: 40px;
    color: white;
    font-size: 15px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
section.differs > div.diff-items > div.item-single > img{
    margin-right: 10px;
}

section.how-works{
    height: 1920px
}
div.tutorial-wraper{
    height: 320px;
    padding-top: 60px;
}
div.tutorial-wraper > h2{
    color: var(--myBlueOil);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
div.tuto{
    height: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
}
div.tuto > div.tuto-single{
    padding: 8px;
    float: left;
    width: 33.3%;
    max-width: 700px;
    display: flex;
    align-items: start;
    color: var(--myBlueOil);
    font-size: 15px;
}
div.tuto > div.tuto-single > img{
    margin-right: 8px;
}

div.about{
    height: 810px;
    border-top: 2px solid rgb(231, 231, 231);
    display: flex;
    align-items: center;
}
div.about > div.about-text-content{
    color: var(--myBlueOil);
    width: 55%;
    padding: 0 100px;
}
div.about-text-content > ul{
    padding-left: 20px;
    margin: 20px 0;
}
div.about-text-content > ul li{
    padding: 4px;
}
div.about > div.about-image-content{
    width: 45%;
    padding: 180px 100px;
    height: 100%;
}
div.about-image-content > div.about-image{
    background-color: var(--myLightGray);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 100px; */
}
/* ---------------- PLANOS ---------------------------------- */
section.planos{
    /* height: 900px; */
    background: var(--myPurple);
    padding: 60px 2%;
    position: relative;
}
.planos > h2{
    margin-bottom: 60px;
    color: white;
    text-align: center;
    font-weight: 300;
}
.planos .planos-container{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.plano-single{
    width: 33.3%;
    float: left;
    padding: 8px;
}
.plano-single .plano-single-container{
    margin: 0 auto;
    width: 280px;
}
.plano-box{
    width: 100%;
    height: 230px;
    padding: 13px;
    max-width: 300px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}
.plano-box h2{
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-bottom: 8px;
}
.plano-box h1{
    font-weight:400;
    font-size: 40px;
    color: var(--myPurple);
    margin-bottom: 8px;
}
.plano-box p{
    font-size: 13px;
    color: rgb(58, 58, 58);
    margin-bottom: 8px;
}
.plano-box input{
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.plano-single h3{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}
.plano-single ul li{
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
}
.plano-single ul li img{
    margin-right: 8px;
    margin-bottom: -3px;
}

.planos .selo-garantia{
    width: 80%;
    height: 60px;
    margin: 0 auto;
    background-color: #6a34ca;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, 50%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
    --filter-data: drop-shadow(1px 1px 2px #000000);
    -webkit-filter: var(--filter-data);
        -moz-filter:var(--filter-data);
            filter: var(--filter-data);
}
.selo-garantia img{
    margin-left: 20px;
    width: 230px;
}
.selo-garantia p{
    width: 69%;
    text-align: right;
}
footer{
    color: var(--myBlueOil);
    background-color: white;
    height: 800px;
    text-align: center;
}
footer .upper-footer{
    padding-top: 150px;
    height: 65%;
}

.upper-footer h2{
    font-size: 26px;
}
footer .bottom-footer{
    height: 45%;
}
footer .bottom-footer .blank-space{
    height: 60%;
}
footer .bottom-footer img{
    margin-bottom: 15px;
}

@media screen and (max-width: 1366px){

    header{
        margin: 0 auto;
        width: 90vw;
    }
    header > img.header-logo{
        width: 110px;
    }
    section.home{
        position: relative;
        height: 400px;
        background-color: white;
    }
    section.home > .home-content{
        padding-top: 80px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    section.home > .home-content  h2{
        font-weight: 400;
        font-size: 32px;
    }
    section.home > .home-content p{
        vertical-align: center;
        padding: 0 20%;
    }
    section.differs{
        height: 720px;
    }
    section.differs > iframe.vid-big{
        display: none;
    }
    section.differs > iframe.vid-med{
        display: block;
    }
    section.differs .differs-blank{
        height: 430px;
    }
    section.differs > h2{
        margin-bottom: 30px;
    }
    section.differs > div.diff-items > div.item-single{
        margin-bottom: 10px;
    }
    section.how-works{
        height: 1230px
    }
    div.tutorial-wraper{
        height: 200px;
    }
    div.about{
        height: 500px;
    }
    div.about > div.about-image-content{
        padding: 20px 100px;
    }
    /* ---------------- PLANOS ---------------------------------- */
    .planos .selo-garantia{
        width: 40%;
    }
    .selo-garantia img{
        margin-left: -50px;
    }
    .selo-garantia p{
        width: 50%;
        font-size: 13px;
        text-align: left;
        border-left: 1px solid white;
        margin-right: 8px;
        padding: 0;
        padding-left: 30px;
    }
    footer{
        height: 300px;
    }
    footer .upper-footer{
        padding-top: 90px;
    }
    footer .bottom-footer .blank-space{
        height: 10%;
    }
    footer .bottom-footer img{
        margin-bottom: 10px;
    }
    

}

@media screen and (max-width: 1270px){
    .plano-single{
        width: 100%;
        float: none;
    }
    .plano-single .plano-single-container{
        display: flex;
        flex-direction: row;
        width: 600px;
        margin: 0 auto;
        height: auto;
        align-items: start;
        border-bottom: 1px solid white;
        padding: 20px 0;

    }
    .plano-box{
        margin-right: 15px;
    }
    .plano-single h3{
        display: none;
    }
}