:root{
    --font-size: 20px;
    --myPurple: #8f4ffb;
    --myLightGray: #f0f1f3;
    --myGreen: #00cf89;
    --myBlueOil: #344451;
    --myBlueOilDark: #212a33;
}
.greenButton{
    border:none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    width: 415px;
    max-width: 80vw;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    align-content: center;
    background-color: var(--myGreen);
    cursor: pointer;
    transition: .08s;
    display: block;
    margin: 0 auto;
}
.greenButton:hover{
    /* --transform-data: scale(1.01);
    -webkit-transform: var(--transform-data);
         -o-transform: var(--transform-data);
            transform: var(--transform-data); */
    --filter-data: drop-shadow(1px 1px 1px #000000a1);
    -webkit-filter: var(--filter-data);
        -moz-filter:var(--filter-data);
            filter: var(--filter-data);
}
.joinButton{
    background-color: white;
    border-radius: 8px;
    border: 2px solid var(--myPurple);
    color: var(--myPurple);
    width: 180px;
    height: 44px;
    line-height: 40px;
    align-content: center;
    text-align: center;
    font-size: var(--headerFontSize);
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}
.joinButtonMobile{
    background-color: var(--myPurple);
    border-radius: 5px;
    padding: 6px;
    /* border: 2px solid var(--myPurple); */
    color: white;
    width: 120px;
    height: 30px;
    line-height: 20px;
    align-content: center;
    text-align: center;
    font-size: var(--headerFontSize);
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}
.em-andamento-tooltip{
    pointer-events: none; 
    z-index: 999;
            user-select: none; /* Standard syntax */;
        -ms-user-select: none; /* IE 10 and IE 11 */
       -moz-user-select: none; /* IE 10 and IE 11 */
    -webkit-user-select: none; /* Safari */
    display: none;
    position: absolute;
    width: 90px;
    height: 20px;
    font-size: 11px;
    border-radius: 10px;
    line-height: 20px;
    color: black;
    text-align: center;
}
header{
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 90px;
    max-width: 1850px;
    align-items: center;
    padding: 0 2%;
    margin: 0 auto;
}
header > img.header-logo{
    flex-shrink: 0;
    width: 135px;
}
/* ------------- PC ------------------ */
header > .pc-nav-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    flex-shrink: 0;
    width: auto;
}
header > .pc-nav-container nav ul{
    height: 100%;
}
header > .pc-nav-container nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 8px;
}
header > .pc-nav-container nav ul li a{
    font-size: var(--headerFontSize);
    color: var(--myBlueOil);
    text-decoration: none;
}
/* ------------- MOBILE ------------------ */
header .mobile-nav-container{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: black;
    position: relative;
    display: none;
    z-index: 99;
}
header .mobile-nav-container:hover > nav{
    opacity: 1;
    width: 200px;
    height: auto;
    border-top-right-radius: 35px;
}
header .mobile-nav-container nav{
    opacity: 0;
    margin: 0 auto;
    --transition-data : width .2s, height .2s;
    -webkit-transition: var(--transition-data);
    transition: var(--transition-data);
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: var(--myBlueOilDark);
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
}
header .mobile-nav-container nav ul{
    height: auto;
}
header .mobile-nav-container nav ul li{
    width: 100%;
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 8px;
}
header .mobile-nav-container nav ul li a{
    font-size: var(--headerFontSize);
    color: white;
    width: 100%;
    text-decoration: none;
    margin: 0;
}
/*---------------------------------*/
section.home{
    height: 745px;
    background-color: white;
}
.home-content{
    padding-top: 30px;
    margin: 0 auto;
    width: 31%;
    display: flex row;
    text-align: center;
}
.home-content  h2{
    font-weight: 400;
    font-size: 36px;
    color: var(--myBlueOil);
}
.home-content p{
    font-weight: 400;
    color: var(--myBlueOil);
    padding: 0 15px;
    margin: 0 auto;
    width: 95%;
    font-size: 17px;
}

section.differs{
    position: relative;
    padding: 0 2%;
    padding-bottom: 40px;
    background-color: var(--myPurple);
}
section.differs > iframe.vid-big{
    display: block;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, -33.3%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs > iframe.vid-med{
    display: none;
    position: absolute;
    left: 50%;
    --transform-data: translate(-50%, -10%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs > iframe.vid-small{
    display: none;
    margin: 0 auto;
    position: absolute;
     left: 50%;
    --transform-data: translate(-50%, 15%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs > iframe.vid-mobile{
    display: none;
    margin: 0 auto;
    position: absolute;
     left: 50%;
    --transform-data: translate(-50%, 15%);
            transform: var(--transform-data);
         -o-transform: var(--transform-data);
    -webkit-transform: var(--transform-data);
}
section.differs .differs-blank{
    height: 480px;
}
section.differs > h2{
    text-align: center;
    color:white;
    font-weight: 400;
    margin-bottom: 40px;
}
section.differs > div.diff-items{
    margin: 0 auto;
    width: 80vw;
    min-width: 81.5%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: start;
    justify-content: space-between
}
.item-single{
    display: inline-flex;
    align-items: center;
    width: 25%;
    height: 40px;
    color: white;
    font-size: 15px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.item-single > img{
    margin-right: 10px;
}
 
div.tutorial-wraper{
    padding: 30px 0;
} 

div.tutorial-wraper > h2{
    color: var(--myBlueOil);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
div.tuto{
    padding:0 2%;
}
div.tuto > div.tuto-single{
    padding: 8px;
    float: left;
    width: 33.3%;
    max-width: 700px;
    display: flex;
    align-items: center;
    color: var(--myBlueOil);
    font-size: 15px;
    position: relative;
}
.tuto-single:hover > .tuto-effect{
    width: 65px;
}
.tuto-single .tuto-effect{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #498eeb;
    transition: .3s;
    width: 0;
}
div.tuto > div.tuto-single > img{
    margin-right: 8px;
}

div.about{
    height: 500px;
    border-top: 2px solid rgb(231, 231, 231);
    display: flex;
    align-items: center;
}
div.about > div.about-text-content{
    color: var(--myBlueOil);
    width: 55%;
    padding: 0 100px;
}
div.about > div.about-text-content h1{
    font-size: 28px;
    font-weight: 300;
}
div.about-text-content > ul{
    padding-left: 20px;
    margin: 20px 0;
}
div.about-text-content > ul li{
    padding: 4px;
}
div.about-text-content > input{
    margin: 0;
}
div.about > div.about-image-content{
    width: 45%;
    padding: 20px 100px; /*TEST*/
    display: block;
    height: 100%;
}
div.about-image-content > div.about-image{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* ---------------- PLANOS ---------------------------------- */
section.planos{
    background: var(--myPurple);
    padding: 60px 2%;
    /* position: relative; */
}
.planos > h2{
    margin-bottom: 60px;
    color: white;
    text-align: center;
    font-weight: 300;
}
.planos .planos-container{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.plano-single{
    width: 33.3%;
    float: left;
    padding: 8px;
}
.plano-single .plano-single-container{
    margin: 0 auto;
    width: 280px;
}
.plano-box{
    width: 100%;
    height: 230px;
    padding: 13px;
    max-width: 300px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}
.plano-box h2{
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-bottom: 8px;
}
.plano-box h1{
    font-weight:400;
    font-size: 40px;
    color: var(--myPurple);
    margin-bottom: 8px;
}
.plano-box p{
    font-size: 13px;
    color: rgb(58, 58, 58);
    margin-bottom: 8px;
}
.plano-box input{
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.plano-single h3{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}
.plano-single ul li{
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
}
.plano-single ul li img{
    margin-right: 8px;
    margin-bottom: -3px;
}

.planos .selo-garantia{
    width: 80%;
    max-width: 1100px;
    height: 60px;
    background-color: #6a34ca;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 auto;
    margin-bottom: -90px;
    --filter-data: drop-shadow(1px 1px 2px #000000);
    -webkit-filter: var(--filter-data);
        -moz-filter:var(--filter-data);
            filter: var(--filter-data);
}
.selo-garantia img{
    margin-left: 20px;
    width: 230px;
}
.selo-garantia p{
    width: 69%;
    text-align: right;
}
footer{
    color: var(--myBlueOil);
    background-color: white;
    height: 800px;
    text-align: center;
}
footer .upper-footer{
    padding-top: 150px;
    height: 65%;
}

.upper-footer h2{
    font-size: 26px;
}
footer .bottom-footer{
    height: 45%;
}
footer .bottom-footer .blank-space{
    height: 60%;
}
footer .bottom-footer img{
    margin-bottom: 15px;
}
/* ========= AFILIADO =================================== */

#servicos-afiliado .servicos-one{
    background-color: white;
    padding-bottom: 25px;
}
#servicos-afiliado .home-content{
    float: left;
    width: 50%;
    padding-left: 2%;
}
#servicos-afiliado .right-child{
    float: right;
    width: 50%;
    padding: 0 90px;
    margin-top: 35px;
}
#servicos-afiliado .right-child .right-image{
    width: 100%;
    height: 360px;
}
#servicos-afiliado .servicos-two{
    background-color:var(--myLightGray);
    padding:60px 2%;
}
.servicos-two h2{
    color: var(--myBlueOil);
    font-size: 30px;
    width: 400px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.servicos-two p{
    color: var(--myBlueOil);
    font-size: 15px;
    width: 550px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.servicos-two .cards-container{
    width: 80vw;
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.cards-container .card-single{
    height: 210px;
    width: 250px;
    margin: 10px;
    background-color: white;
    color: var(--myBlueOil);
}
.card-single h2{
    font-weight: 400;
    width: 90%;
    height: 30%;
    font-size: 16px;
    vertical-align: center;
}
.card-single p{
    display: block;
    margin: 0 auto;
    width: 85%;
    max-height: 70%;
    color: var(--myBlueOil);
    font-size: 16px;
}

.servicos-two h3{
    text-align: center;
    font-weight: 400;
    color: var(--myBlueOil);
}
.servicos-two .empresas-clientes{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    min-width: 500px;
    max-width: 800px;
}
#vantagens-afiliado{
    padding-top: 60px;
    /* height: 570px; */
    padding-bottom: 50px ;
    background-color: var(--myPurple);
}
#vantagens-afiliado h2{
    width: 50%;
    height: 150px;
    font-size: 36px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    color: white;
}
#vantagens-afiliado .vantagens-itens{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80vw;
    min-width: 81.5%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: start;
    justify-content: space-between;
}
#vantagens-afiliado input{
    display: block;
    margin: 0 auto;
}
/* -------------------------------------------------- */

@media screen and (max-width: 1366px){
   
    header{
        margin: 0 auto;
        width: 90vw;
    }
    header > img.header-logo{
        width: 110px;
    }
    section.home{
        position: relative;
        height: 400px;
        background-color: white;
    }
    .home-content{
        padding-top: 80px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .home-content  h2{
        font-weight: 400;
        font-size: 32px;
    }
    .home-content p{
        vertical-align: center;
        padding: 0 20%;
    }
    /* section.differs{
        height: 720px;
    } */
    section.differs > iframe.vid-big{
        display: none;
    }
    section.differs > iframe.vid-med{
        display: block;
    }
    section.differs .differs-blank{
        height: 430px;
    }
    section.differs > h2{
        margin-bottom: 30px;
    }
    section.differs > div.diff-items .item-single{
        margin-bottom: 10px;
    }
   
    /* ---------------- PLANOS ---------------------------------- */
    .planos .selo-garantia{
        width: 550px;
    }
    .selo-garantia img{
        margin-left: -50px;
    }
    .selo-garantia p{
        width: 50%;
        font-size: 13px;
        text-align: left;
        border-left: 1px solid white;
        margin-right: 8px;
        padding: 0;
        padding-left: 30px;
    }
  
    footer{
        height: 300px;
    }
    footer .upper-footer{
        padding-top: 90px;
    }
    footer .bottom-footer .blank-space{
        height: 10%;
    }
    footer .bottom-footer img{
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 1270px){
    .plano-single{
        margin:  0 auto;
        width: 100%;
        float: none;
    }
    .plano-single .plano-single-container{
        display: flex;
        flex-direction: row;
        width: 600px;
        margin: 0 auto;
        height: auto;
        align-items: start;
        padding: 20px 0;
    }
    .plano-single:not(:last-child){
        border-bottom: 1px solid white;
    }
    .plano-box{
        margin-right: 15px;
    }
    .plano-single h3{
        display: none;
    }
    section.differs > div.diff-items .item-single{
        font-size: 13px;
    }
    #vantagens-afiliado .vantagens-itens .item-single{
        width: 40%;
    }
    .servicos-two .cards-container{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 1125px){
    .item-single{
        width: 40%;
    }
    
}
@media screen and (max-width: 1015px){
    header > .pc-nav-container{
        display: none;
    }
    header > .mobile-nav-container{
        display: block;
    }
    div.about > div.about-text-content{
        width: 100%;
    }
    div.about > div.about-image-content{
        display: none;
    }
    .servicos-two .cards-container{
        grid-template-columns: auto auto;
    }
    .servicos-two .cards-container .card-single{
        margin: 10px auto;
    }
}
@media screen and (max-width: 922px){
    #servicos-afiliado .home-content{
        float: none;
        width: 95%;
        padding-top: 80px;
        width: 80%;
        margin: 0 auto;
        padding-left: 0;
        /* text-align: center; */
    }
    #servicos-afiliado .home-content  h2{
        /* font-weight: 400; */
        font-size: 32px;
    }
    #servicos-afiliado .home-content p{
        /* vertical-align: center; */
        padding: 0 20%;
    }
    #servicos-afiliado .right-child{
        display: none;
    }
}

@media screen and (max-width: 870px){
    section.differs > iframe.vid-med{
        display: none;
    }
    section.differs > iframe.vid-small{
        display: block;
        position: absolute;
    }
    
}
@media screen and (max-width: 878px){
    div.tuto > div.tuto-single{
        float: none;
        width: 80%;
        max-width: none;
        margin: 0 auto;

    }
    div.tuto > div.tuto-single > img{
        margin-right: 8px;
    }
}
@media screen and (max-width: 817px){
    .planos h2{
        padding: 0 2%;
    }
    .plano-single{
        width: 290px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .plano-single .plano-single-container{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .selo-garantia {
        --transformVal: scale(0.8);
        transform: var(--transformVal);
        -o-transform: var(--transformVal);
        -ms-transform: var(--transformVal);
    }
}
@media screen and (max-width: 768px){
   .greenButton{
       width: 300px;
   }
}
@media screen and (max-width: 710px){
    div.about {
        height: auto;
        padding:60px 0;
    }
    div.about > div.about-text-content{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    div.about > div.about-text-content h1{
        text-align: center;
        padding: 0 2%;
    }
    div.about > div.about-text-content p{
        padding: 0 2%;
        text-align: center;
    }
    div.about > div.about-text-content ul{
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    div.about > div.about-text-content ul li{
        font-size: 13px;
        margin-left: 0;
    }
    div.about > div.about-text-content input{
        margin: 0 auto;
    }
}
@media screen and (max-width: 660px){
    .servicos-two .cards-container{
        display: block;
    }
    .servicos-two .cards-container .card-single{
        width: 70%;
        margin: 15px auto;
    }
    section.differs > iframe.vid-small{
        display: none;
    }
    section.differs > iframe.vid-mobile{
        display: block;
    }
    section.differs .differs-blank{
        height: 300px;
    }
}
@media screen and (max-width: 590px){
    .selo-garantia {
        --transformVal: scale(0.6);
        transform: var(--transformVal);
        -o-transform: var(--transformVal);
        -ms-transform: var(--transformVal);
        margin-left: -15vw;
    }
}
@media screen and (max-width: 569px){
    .item-single{
        width: 100%;
    }
    section.home{
        border-top: 1px solid var(--myLightGray);
    }
    .home-content, #servicos-afiliado .home-content{
        width: 90%;
    }
    .home-content  h2, #servicos-afiliado .home-content h2{
        font-weight: 400;
        font-size: 26px;
        color: var(--myBlueOil);
    }
}
@media screen and (max-width: 412px){
    .home-content p, #servicos-afiliado .home-content{
        padding: 0;
        width: 100%;
        margin-bottom: -20px;
    }
}